@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
* {
    font-family: 'Dosis', sans-serif;
}
body{
    background-color: rgb(29, 19, 88);
}

img{
    margin: auto;
    display: block;
}
h2{
    text-align: center;
    font-weight: 700px
}

article{
    background-color: white;
    margin: 0 auto;
    border: 2px;
    border-color: rgb(202, 208, 219);
    border-style: solid;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    display: block;
    border-radius: 5px;
    margin: auto;
    padding: 0.5em 4em 0.5em 4em;
}

#password{
    display: block;
    border-radius: 5px;
    margin: auto;
    padding: 0.5em 4em 0.5em 4em;
}

.entrar{
    display: block;
    border-radius: 5px;
    margin: auto;
    padding: 0.2em 4.4em 0.2em 4.4em;
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    text-decoration-skip:none;
    background-color: rgb(21, 196, 187);
    cursor: pointer;
}

.forgot{
    display: block;
    margin: auto;
    border-color:rgba(21, 196, 187, 0);
    padding: 0.2em 4.4em 0.2em 4.4em;
    text-align: center;
    text-emphasis: none;
    font-weight: 200;
    font-size: 15px;
    text-decoration:none;
    background-color: rgba(21, 196, 187, 0);
    cursor: pointer;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
